In [1]:
# in cm
tinggi = [151,174,138,186,128,136,179,163,152,131]
berat_badan = [63, 81, 56, 91, 47, 57, 76, 72, 62, 48]

In [2]:
mean_x = sum(tinggi)/len(tinggi)
mean_y = sum(berat_badan)/len(tinggi)

![coeficien_corelation](img/corelation_coefiient.png)

In [3]:
a = (tinggi[0]-mean_x)*(berat_badan[0]-mean_y) + (tinggi[-1]-mean_x)*(berat_badan[-1]-mean_y)
b = (151-153.3)**2 + (131-153.8)**2
c = (63-65.3)**2 + (48 - 65.3)**2
d = b * c
import math
print(a/math.sqrt(d))

1.0023751321143246

In [4]:
import csv

file = open('dataset/data_handpone.csv')
type(file)
csvreader = csv.reader(file)
header = []
header = next(csvreader)
rows = []
for row in csvreader:
    rows.append(row)

data = []
for i in rows:
    if i[2] == '':
        continue
    data.append([int(i[1]),int(i[2])])

import pandas as pd

handphone = {'kamera' : [i[0] for i in data],
            'harga': [i[1] for i in data]
            }

handphone_df = pd.DataFrame(handphone)
handphone_df

   kamera  harga
0       8      7
1       2      3
2       6      7
3       4      2
4       7      8
5       3      3

In [5]:
def average(x):
    return float(sum(x)) / len(x)

x1 = handphone['kamera'][0]
x_avg = average(handphone['kamera'])
y1 = handphone['harga'][0]
y_avg = average(handphone['harga'])

In [6]:
import math

diffprod = 0
xdiff2 = 0
ydiff2 = 0

for i in range(len(handphone['kamera'])):
    xdiff = handphone['kamera'][i] - x_avg
    ydiff = handphone['harga'][i] - y_avg
    diffprod += xdiff * ydiff
    xdiff2 += xdiff * xdiff
    ydiff2 += ydiff * ydiff

result = diffprod / math.sqrt(xdiff2 * ydiff2)

result

0.8750750267954219

In [7]:
0.5360**2

0.28729600000000005