In [82]:
import pandas as pd
import numpy as np

In [83]:
predikat = pd.read_csv('../dataset/lulus.csv')
predikat

,IPK,Pelatihan Pengembanagn Diri,Prestasi,Forum Komuniksi ilmiah,Kegiatan Organisasi,Lulus Cepat
0,3.26,6,1,2,4,0
1,3.12,6,0,1,1,0
2,2.29,6,4,3,3,0
3,3.10,2,0,6,2,1
4,3.12,3,0,4,2,0

In [84]:
predikat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IPK                          5 non-null      float64
 1   Pelatihan Pengembanagn Diri  5 non-null      int64
 2    Prestasi                    5 non-null      int64
 3    Forum Komuniksi ilmiah      5 non-null      int64
 4    Kegiatan Organisasi         5 non-null      int64
 5    Lulus Cepat                 5 non-null      int64
dtypes: float64(1), int64(5)
memory usage: 368.0 bytes

In [85]:
x = predikat.drop([" Lulus Cepat"],axis=1)
x.head()

,IPK,Pelatihan Pengembanagn Diri,Prestasi,Forum Komuniksi ilmiah,Kegiatan Organisasi
0,3.26,6,1,2,4
1,3.12,6,0,1,1
2,2.29,6,4,3,3
3,3.10,2,0,6,2
4,3.12,3,0,4,2

In [86]:
y = predikat[' Lulus Cepat']
y.head()

0    0
1    0
2    0
3    1
4    0
Name:  Lulus Cepat, dtype: int64

In [87]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, ytest = train_test_split(x,y,test_size=0.20)

In [88]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [89]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=4)

knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [92]:
y_pred = knn.predict (x_test)
y_pred
knn.predict_proba(x_test)

array([[0.75, 0.25]])